# Lean 4 & Lake build artifacts
.lake/
build/
*.olean
*.ilean
*.c
*.o

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors & IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
